@import "../modules/mixins.scss", "../modules/colors.scss",
  "../modules/fonts.scss";

#contact {
  @include slide;
  display: flex;
  justify-content: center;
  flex-direction: column;

  button {
    padding: 15px;
    border: 1px solid $backgroundLighter;
    background-color: $backgroundLighter;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: $background;
    }
  }

  .title {
    @include title;
  }
  .content {
    @include textBG;
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    height: 80vh;
    font-size: 1.3em;
    p {
      color: $secondary;
    }
    main {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 50px;
      flex-grow: 1;

      .socials {
        display: flex;
        justify-content: flex-start;
        gap: 50px;

        i {
          cursor: pointer;
          transition: all 0.3s ease;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
    .message {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;
      flex-grow: 2;

      .error {
        border: 2px solid #bb2124;
      }

      input,
      textarea {
        width: 100%;
        background-color: transparent;
        border: 2px solid $secondary;
        border-radius: 6px;
        padding: 15px;
        color: $secondary;
        font-size: 1em;
        outline: none;

        &:hover {
          border: 2px solid $backgroundLighter;
        }
        &:focus {
          border: 2px solid $backgroundLighter !important;
        }
      }

      textarea {
        height: 150px;
        resize: none;
      }

      button {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  #contact {
    .content {
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
      main {
        gap: 20px;
        h1 {
          margin: 0;
        }
      }
      .message {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  #contact {
    .content {
      flex-direction: column-reverse;
      main {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        .contacts {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          h1 {
            display: none;
          }
          p {
            font-size: 0.8em;
          }
        }
        .socials {
          gap: 20px;
          i {
            transform: scale(0.7);
          }
        }
      }
    }
  }
}
